[mysqld]
bind-address = 0.0.0.0
# skip-networking
skip-host-cache
skip-name-resolve
collation-server = utf8_general_ci
init-connect='SET NAMES utf8'
character-set-server = utf8
user=mysql

sql_mode=NO_ENGINE_SUBSTITUTION

innodb_buffer_pool_chunk_size=128M
innodb_buffer_pool_size = 128M
innodb_buffer_pool_instances = 4
innodb_read_io_threads = 4
innodb_write_io_threads = 4
innodb_flush_log_at_trx_commit = 2
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT
innodb_doublewrite = 0
general_log = 0
slow_query_log = 0
innodb_lru_scan_depth=256
sql_mode = NO_ENGINE_SUBSTITUTION

datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
pid-file=/var/run/mysqld/mysqld.pid
local-infile=1

[client]
loose-local-infile=1
